@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    background: linear-gradient(90deg, #FA7070 31%, #FEFDED 100%);
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;

    display: flex;
    height: 8vh;
    width: 100%;
    border-bottom: 1px solid #807f7e;
}

.navleft,
.navright {
    margin: auto;
    flex: 1;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}


.parent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    display: flex;
    height: 70vh;
    width: 70%;
    border-radius: 10px;
}


.left {
    flex: 1;
    padding: 1em;
    margin: auto;
}

.left h3 {
    font-weight: 100;
    font-size: 3em;
}

.left h4 {
    font-weight: 200;
    font-size: 1em;
}

.right {
    flex: 1;
    margin: auto;
    padding: 1em;
}

.right input,
button.upload {
    margin: 1em;
    border-radius: 15px;
    font-size: 15px;

}


.upload {
    background-color: transparent;
    border: 1px solid black;
    padding: 1em;
}

.right form {
    display: flex;
    flex-direction: column;
}



.upload {
    background-color: transparent;
    border: 1px solid black;
    padding: 1em;
}


.container {
    height: 500px;
}

#img-view,
.container img {
    height: 500px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgb(62, 62, 62);
}

h4.desc {
    font-size: 25px;
    font-weight: 300;
}

.container img {
    height: 500px;
    animation: fadeInRight 1s ease-in-out forwards;
    animation-delay: 0.1s;
}

#dropArea {
    cursor: pointer;
    width: 500px;
    height: 300px;
    text-align: center;

}


a,
li {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a,
li {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.uploadimages {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.historyli {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.historyli img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
}

.historyul {
    width: 80%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}